<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
    {% include head-custom.html %}
  </head>
  <body>
    <a class="skip-link" href="#main_content">Skip to content</a>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <h2 id="project_tagline">{{ site.description }}</h2>
      </header>
    </div>
    <div id="main_content_wrap" class="outer">
      <main id="main_content" class="inner" tabindex="-1">
        <nav class="site-nav" aria-label="Main navigation">
          {% for item in site.navigation %}
          <a href="{{ item.url | relative_url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
          {% endfor %}
        </nav>
        {{ content }}
      </main>
    </div>
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>T4T<br>University of the Western Cape (Republic of South Africa)</p>
        <p><small>Website last updated on <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%-d %B %Y at %H:%M" }} SAST</time></small></p>
      </footer>
    </div>
  </body>
</html>
